<form method="POST" action="/users/login">
    <label for="username" >Username:</label>
    <input name="username" id="username" placeholder="username" type="text" required/>
    <label for="password">Password:</label>
    <input name="password" id="password" placeholder="password" type="password" required />
    <br/>
    <input type="submit" value="Submit" />
    <p><a href="/users/signup">Don't have an account? Signup Here</a></p>
    <p><a href="/users/login/federated/google">Login with Google</a></p>
</form>